[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.8"
pillow = "*"
sorl-thumbnail = "*"
ipython = "*"
django-extensions = "*"
pytils = "*"
django-debug-toolbar = "*"

djlint = "1.34.1"

[dev-packages]

[requires]
python_version = "3.10"
