{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Категории товаров: {{ category.title }}{% endblock %}
{% block content %}
  {% if category.banners.exists %}
    <div id="carouselExampleControls"
         class="carousel slide mt-3"
         data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for banner in banners %}
          <div class="carousel-item active">
            {% thumbnail banner.image "1900x339" crop="center" as im %}
              <img src="{{ im.url }}" class="d-block w-100" alt="slides">
            {% endthumbnail %}
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
      </button>
      <button class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
      </button>
    </div>
  {% endif %}
  {% if empty %}
    <h2 class="text-start mt-5">{{ empty }}</h2>
  {% else %}
    <div class="row row-cols-4 row-cols-md-4 g-4 mt-3">
      {% for product in products_in_cat.all %}
        {% include 'includes/shop/product_card.html' %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
