{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Категории товаров: {{ category.title }}{% endblock %}

{% block content %}
<h1 class="mt-5">{{ category.title }}</h1>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
  {% for product in products_in_cat %}
  <div class="col">
    <div class="card h-100">
      {% thumbnail product.image "800x339" as im %}
         <a href="{% url 'shop:single_product' product.id %}"><img class="card-img" src="{{ im.url }}"> </a>
      {% endthumbnail %}
      <div class="card-body">
        <h4 class="card-title">{{ product.title }}</h4>
         <h6 class="card-subtitle mb-2 text-muted">{{ product.category }}</h6>
        <h6 class="card-title"><b>{{ product.price }} руб.</b></h6>
        <p class="card-text">{{ product.description }}</p>
        {% if product.is_available %}
          <p class="card-text">В наличии</p>
        {% else %}
          <p class="card-text">Недоступен к заказу</p>
        {% endif %}
        <a href="" class="btn btn-primary">Купить</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}