<!doctype html>
{% load static %}
{% load shop_tags %}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<nav class="navbar navbar-dark bg-dark">
    <div>
        <a href="{% url 'shop:index' %}" class="nav-item mx-3"><img src="{% static 'images/logo1.png' %}" width="75"
                                                                    height="75"></a>
        <a href="{% url 'shop:index' %}" class="navbar-brand mr-5">WB SHOP</a>
    </div>
    <div class="nav justify-content-end mx-5">
        <a href="{% url 'users:login' %}" class="me-2 text-bg-dark px-3">Войти</a>
        <a href="" class="me-2 text-bg-dark px-3">Контакты</a>
        <a href="" class="me-2 text-bg-dark px-3" target="_blank">API</a>
    </div>

</nav>

<body >
<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    <aside class="bd-sidebar" style="width: 280px;">
        <!-- Sidebar слева -->

        <div class="offcanvas-lg offcanvas-start">
            <a href="{% url 'shop:index' %}" class="navbar-brand mx-3">Категории</a>
            {% get_categories as categories%}
            <hr>
            <div class="offcanvas-body">
                <nav class="bd-links h-100">
                    <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                        {% for category in categories %}
                        <li class="nav-item mx-3 my-2">
                            <a href="{% url 'shop:single_category' category.slug %}" class="list-group-item">
                                {{ category.title }}</a>
                        </li>
                {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Конец Sidebar'а -->
    </aside>
    <div class="container">
        {% block content %}
        {% endblock %}

    </div>
</div>
</body>

</html>
