{% load thumbnail %}
  <div class="col">
    <div class="card h-100">
            {% thumbnail product.image "500x500" as im %}
         <a href="{% url 'shop:single_product' product.slug %}"><img class="card-img-top" src="{{ im.url }}"> </a>
      {% endthumbnail %}
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
         <h6 class="card-subtitle mb-2 text-muted">{{ product.category }}</h6>
        <h6 class="card-title"><b>{{ product.price }} руб.</b></h6>
        {% if product.is_available %}
          <p class="card-text">В наличии</p>
          </div>
          <div class="card-footer">
          <a href="" class="btn btn-primary">Купить</a>
          </div>
        {% else %}
          <p class="text-danger mb-2">Недоступен к заказу</p>
          </div>
          <div class="card-footer">
          <button class="btn btn-primary disabled">Купить</button>
          </div>
        {% endif %}
    </div>
  </div>