{% extends 'base.html' %}

{% block title %}Вход в Личный кабинет{% endblock %}
{% block content %}
<div class="row mt-5">
<h4>Авторизация</h4>
<div class="row mt-5">
    <form method="POST" >
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {{ form.as_p }}
        </form>
        <p class="align-middle">
            <button type="submit" class="btn btn-primary ">Войти</button>
            <a href="{% url 'users:password_reset' %}" class="align-text-bottom mt-5">Забыли пароль?</a>
        </p>
    <a href="{% url 'users:register' %}" class="mt-5">Еще не зарегистрированы?</a>
    </div>
</div>

{% endblock %}
