{% extends 'base.html' %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<div class="row mt-5">
<h4>Изменение пароля</h4>
<div class="row mt-5">

<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit" class="btn btn-primary ">Изменить пароль</button>
</form>
    </div>
</div>
{% endblock %}
